.popup__close {
  position: absolute;
  top: -42px;
  right: -45px;
  background: transparent;
  border: none;
  transition: 0.2s;
  fill: white;
  cursor: pointer;
}

.popup__close-svg {}

.popup__close:hover {
  opacity: 0.6;
}

@media (max-width: 515px) {
  .popup__close {
    right: -5px;
    top: -38px;
  }
}

@media (max-width: 515px) {
  .popup__close-svg {
    width: 20px;
    height: 20px;
  }
}